{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div class="container-fluid">
  <div class="freedom-app">
    <div class="confession-cards grid">
      <div class="confession-card">
        <h3>{{ item.user_alias }}</h3>
        <h5 class="confession-timestamp">{{ item.timestamp }}</h5>
        <p>
          {{ item.confession }}
        </p>
        <div class="comments-cards">
          <div class="comment-input">
            <form action="add-comment" method="POST" class="comment-form">
              <input
                type="text"
                name="commenter-alias"
                placeholder="Alias"
                class="commenter-alias-input form-control"
                id=""
                required
                autocomplete="off"
              />
              <textarea
                name="comment-body"
                id=""
                placeholder="Comment here..."
                class="comment-input form-control"
                required
              ></textarea>
              <input
                type="submit"
                name="comment-submit"
                value="submit"
                class="btn btn-dark btn-block"
              />
            </form>
          </div>
          <div class="comment-card">
            <h5>Alias Name</h5>
            <p>This is a sample comment</p>
            <h6 class="comment-timestamp">12/01/2021</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
