{% extends 'base.html' %}

<!-- CONTENT BLOCK -->
{% block content %} {% for item in all_items %}
<div class="confession-card">
  <h3>{{ item.user_alias }}</h3>
  <p>{{ item.confession }}</p>
</div>
{% endfor %} {% endblock content %}

<!-- INPUT-FORM BLOCK -->
{% block input-form %}
<form action="addConfession" method="post">
  {% csrf_token %}
  <input
    type="text"
    name="user-alias"
    placeholder="Alias"
    class="name-input form-control"
    required
  />
  <textarea
    name="confession"
    placeholder="Your confession..."
    class="confession-input form-control"
    required
  ></textarea>
  <input type="submit" value="SUBMIT" class="btn btn-dark btn-block" />
</form>
{% endblock input-form %}
