/* variables */

/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
}

/* font */

/* base styles */

/* MORE CUSTOMIZATION IN THE 404 PAGE
    ADD A CUSTOM CHARACTER
    ADD A BUTTON THAT WILL LINK THE USER TO THE HOME PAGE
    OF FREEDOM WALL WEB APP
*/