/* variables */
:root{
    --primary: #242424;
    --secondary: #e0dede;
    --third: #eeeded;
    --background-main: #ededed;
}

/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--background-main);
}
a,li{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

/* font */

/* base styles */
.container-fluid{
    padding: 5% 6%;
}
.grid{
    display: grid;
}
.flex{
    display: flex;
}
.btn{
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.btn-dark{
    color: #fff;
    background-color: var(--primary);
}
.btn-dark:hover{
    background-color: #1a1919;
}
.btn-block{
    width: 100%;
}
.form-control{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: var(--primary);
    font-size: .90em;
}
.form-control:focus{
    outline: none;
}

/* mobile styles */
.navigation{
    padding: 1.5% 6%;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    background-color: var(--background-main);
}
.navbar-brand{
    grid-column: 1/6;
}
.navbar-brand a{
    font-weight: 500;
    font-size: 1.25em;
}
.nav-links{
    grid-column: 12/13;
    justify-content: flex-end;
}

/* tables-styling */
@media screen and (min-width: 620px) {
    .container-fluid{
        padding: 5% 15%;
    }
    .navigation{
        padding: 1.25% 15%;
    }
}

/* desktop styling */
@media screen and (min-width: 1200px) {
    .container-fluid{
        padding: 5% 25%;
    }
}