/* variables */
:root{
    --primary: #242424;
    --secondary: #e0dede;
}

/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
}

/* font */

/* base styles */
.container-fluid{
    padding: 4% 6%;
}
.grid{
    display: grid;
}
.btn{
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.btn-dark{
    color: #fff;
    background-color: var(--primary);
}
.btn-dark:hover{
    background-color: #1a1919;
}
.btn-block{
    width: 100%;
}
.form-control{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--secondary);
    color: var(--primary);
    font-size: .90em;
}
.form-control:focus{
    outline: none;
}


/* mobile styles */