{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 404.css Link -->
    <link rel="stylesheet" href="{% static 'css/404.css' %}" />

    <title>404 | Page not found</title>
  </head>
  <body>
    <h1>Opppsss...</h1>
    <h2>
      It seems like the page you are looking for doesn't exist. Don't worry I'll
      contact the developer, oh wait, I am the developer.
    </h2>
  </body>
</html>
