{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freedom Wall | Share your thoughts anonymously</title>
</head>
<body>
    <div class="container-fluid">
        <div class="freedom-app-container">
            <h1>Freedom Wall</h1>
            <h2>Share your thoughts anonymously</h2>
        </div>
        <div class="confessions-cards grid">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    
</body>
</html>