.freedom-app{
    text-align: center;
}
.freedom-app h1{
    font-family: var(--secondary-font);
}
.freedom-app h2{
    font-weight: 400;
}
.freedom-app h3{
    text-align: left;
}
.input-card{
    margin: 10px 0;
}
.input-card input{
    margin: 5px 0;
}
.confession-input{
    font-family: 'Segoe UI', sans-serif;
    font-size: .90em;
    resize: none;
    height: 100px;
}
.confession-card{
    text-align: left;
    margin: 20px 0;
    padding: 25px;
    border-radius: 10px;
    background: var(--background-main);
    box-shadow:  6px 6px 31px #cccccc,
    -6px -6px 31px #ffffff;
}
.confession-card h3{
    font-weight: 600;
    font-size: 1.1em;
    font-family: var(--secondary-font);
}
.confession-head{
    align-items: center;
}
.confession-card img{
    width: 20px;
    margin-right: 5px;
}
.confession-card h6{
    color: var(--primary);
    font-weight: 400;
    text-align: end;
    margin-top: 10px;
}
.confession-card p{
    font-size: .90em;
}